@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');
:root {
    --headding-font : 'Big Shoulders Display', cursive;
    --bright-orange: hsl(31, 77%, 52%);
    --dark-cyan: hsl(184, 100%, 22%);
    --very-dark-cyan: hsl(179, 100%, 13%);
    --transparent-white: hsla(0, 0%, 100%, 0.75);
    --very-light-gray: hsl(0, 0%, 95%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
    background: var(--very-light-gray);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.cards {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    border-radius: 0.5rem;
    overflow: hidden;
}

.card-row {
    width: 100%;
    padding: 2.3rem;
}

.grid-group {
    display: grid;
    row-gap: 1.5rem;
}

h1 {
    color: var(--very-light-gray);
    font-family: var(--headding-font);
    font-weight: 700;
    font-size: 2rem;
}

p {
    color: var(--transparent-white);
}

.card-btn {
    background: var(--very-light-gray);
    width: 125px;
    padding: 0.6rem 0;
    border-radius: 1rem;
    text-align: center;
    margin-top: 1.5rem;
}

.card-btn:hover {
    background-color: transparent;
    outline: 2px solid #fff;
    cursor: pointer;
}

.card-btn:hover > a{
    color: #fff;
}

a {
    text-decoration: none;
}

.bg-orange {
    background: var(--bright-orange);
}

.bg-dark-cyan {
    background-color: var(--dark-cyan);
}

.bg-very-dark-cyan {
    background: var(--very-dark-cyan);
}

.text-orange {
    color: var(--bright-orange);
}

.text-dark-cyan {
    color: var(--dark-cyan);
}

.text-very-dark-cyan {
    color: var(--very-dark-cyan);
}

@media screen and (min-width: 600px) {
    .cards {
        flex-direction: row;
        max-width: 850px;
    }

    p {
        min-height: 180px; 
    }
}